.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
dist/
tsconfig.build.tsbuildinfo

*storybook.log
storybook-static/
# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
#.pnp.*

tsconfig.vitest-temp.json

tsconfig.tsbuildinfo

coverage/

public/pico.colors.min.css
